manifest {
    homePage = 'https://github.com/eipm/hello-mess-nf'
    defaultBranch = 'main'
    name = 'hello-mess-nf'
    description = 'Minimal pipeline integrated with Zero-Mess'
    mainScript = 'main.nf'
    version = '1.1.0'
    author = 'Manuele Simi'
}

def messagingEnabled = true
def url = 'http://localhost:8080/dispatcher/publish-data'

env {
    BASH_MESSAGING_ENABLED = "${messagingEnabled}"
    DISPATCHER_URL = "${url}"
}

params {
    pipelineName = 'hello-mess-nf'
    pipelineMessagingEnabled = messagingEnabled
    dispatcherURL = url
}

docker {
    enabled = true
}

plugins {
  id 'nf-azure'
}

profiles {

    local {
        process {
            container = 'docker.io/alpine/curl:3.14'
        }
        workDir = "<path>/workdir/hello-mess-nf/${new Date().format('YYYY-MM-dd')}/" //workdir is a blob storage within the storage account
    }

    azurebatch {
        process {
            executor = 'azurebatch'
            container = 'docker.io/alpine/curl:3.14'

        }
        azure {
            activeDirectory {
                servicePrincipalId = ''
                servicePrincipalSecret = ''
                tenantId = ''
            }
            batch {
                workDir = "az://<blob>/hello-mess-nf/${new Date().format('YYYY-MM-dd')}" //workdir is a blob storage within the storage account
                params.resultsDir = 'az://<blob>/results'
                location = 'eastus2'
                accountName = 'thehive'
                allowPoolCreation = true
                autoPoolMode = true
                deletePoolsOnCompletion = true
                copyToolInstallMode = 'task'

                pools {
                   auto {
                         vmType = 'Standard_D4_v3'
                         vmCount = 1
                         priviledged = true
                         virtualNetwork = '/subscriptions/<value>/resourceGroups/<value>/providers/Microsoft.Network/virtualNetworks/<value>/subnets/<value>'
                   }
                }
          }
          registry {
            server = 'docker.io' //or myRegistry.azurecr.io
            userName = ''
            password = ''
          }

          storage {
            accountName = 'cubbies'
          }
        }
    }
}
